* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}

/* Common css */
.common_header h2 {
	font-size: 60px;
	text-align: center;
}

.common_p p {
	font-size: 25px;
	max-width: 880px;
	margin-left: 29%;
	margin-top: 20px;
	margin-bottom: 40px;
	text-align: center;
}

.header {
	background-image: url(img/bg_img.jpg);
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
}

.bg_overlay {
	background: linear-gradient(transparent, black);
	height: 100vh;
}

.header_content {
	color: white;
	text-align: center;
}

.header_content h1 {
	font-size: 60px;
	max-width: 900px;
	display: inline-block;
	margin-top: 13%;
}

.header_content p {
	font-size: 20px;
	max-width: 700px;
	margin-left: 32%;
	margin-top: 30px;
	margin-bottom: 40px;
}

.header_content a {
	text-decoration: none;
	color: white;
	padding: 15px 30px;
	background-color: #FF5959;
	border-radius: 5px;
	font-size: 25px;
}

.donate_sec {
	height: 900px;
	margin-top: 200px;
	text-align: center;
}

.donate_sec_amount {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}

.donate_sec_amount h3 {
	color: #707070;
	font-size: 40px;
	background-color: #FAFAFA;
	padding: 30px 30px;
	width: 135px;
	height: 123px;
	margin-right: 30px;
	line-height: 110px;
	border-radius: 5px;
}

#selected_amount {
	color: #FF5959;
	border: 3px solid #FF5959;
	padding: 30px 30px;
	width: 135px;
	height: 123px;
	background-color: #FFEEEE;
}

.input_amount {
	margin-bottom: 50px;
}

.input_amount input {
	width: 60%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	border-bottom: 2px solid #DADADA;
	font-size: 25px;
	color: #FF5959;
	text-align: center;
}

.input_amount input:focus {
	outline: none;
}

.donate_button a {
	text-decoration: none;
	color: white;
	padding: 15px 30px;
	background-color: #FF5959;
	border-radius: 5px;
	font-size: 25px;
}

.donate_button {
	margin-bottom: 200px;
}

.donate_plan_items {
	margin-bottom: 200px;
	display: flex;
	justify-content: center;
}

.donate_plan_item {
	width: 20%;
	height: 350px;
	background-color: #D8E9EB;
	padding: 35px;
	border-radius: 5px;
	margin-right: 30px;
}

.donate_plan_item img {
	height: 70px;
	margin-bottom: 30px;
	margin-top: 20px;
}

.donate_plan_item h3 {
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 20px;
}

.donate_plan_item p {
	font-size: 21px;
	max-width: 380px;
	color: #707070;
}

.pink {
	background-color: #FFEFEF;
}

.yellow {
	background-color: #FFF4D6;
}

.sub_section_email {
	width: 50%;
	height: 70px;
	background-color: #FFF4D6;
	margin: auto;
	padding: 74px;
	display: flex;
	justify-content: center;
	margin-bottom: 200px;
}

.sub_section_email input {
	font-size: 18px;
	border: none;
	width: 40%;
	background: #D9D9D9;
	height: 70px;
	border-radius: 5px 0px 0px 5px;
	padding-left: 20px;
	font-weight: 500;
}

.sub_section_email button {
	font-size: 20px;
	border: none;
	width: 20%;
	background: #FF5959;
	height: 70px;
	border-radius: 0px 5px 5px 0px;
	color: #fff;
	font-weight: 500;
}

.footer_sec {
	width: 100%;
	height: 300px;
	background-color: #000;
	text-align: center;
}

.footer_sec h3 {
	padding-top: 100px;
	font-family: 'Redressed', cursive;
	font-size: 50px;
	color: #FF5959;
}

.footer_sec p {
	color: #fff;
	font-size: 20px;
	padding-top: 20px;
}

.donate_stories {
	height: 650px;
	background-color: #FFF4D6;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 200px;
}

.stories_half {
	width: 40%;
}

.stories_half img {
	width: 60%;
	float: right;
	margin-right: 50px;
}

.stories_half h4 {
	color: #FF5959;
	font-weight: 500;
	font-size: 24px;
	margin-bottom: 20px;
}

.stories_half h3 {
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 20px;
}

.stories_half p {
	font-size: 20px;
	font-weight: 300;
	max-width: 640px;
	margin-bottom: 20px;
}

.stories_half a {
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 500;
	text-decoration: none;
	color: #FF5959;
}

#lefticon {
	width: 45px;
	float: left;
}

#righticon {
	width: 45px;
	float: right;
}