* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}

.header {
	background-image: url(img/bg_img.jpg);
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
}

.bg_overlay {
	background: linear-gradient(transparent, black);
	height: 100vh;
}

.header_content {
	color: white;
	text-align: center;
}

.header_content h1 {
	font-size: 60px;
	max-width: 900px;
	display: inline-block;
	margin-top: 13%;
}

.header_content p {
	font-size: 20px;
	max-width: 700px;
	margin-left: 32%;
	margin-top: 30px;
	margin-bottom: 40px;
}

.header_content a {
	text-decoration: none;
	color: white;
	padding: 15px 30px;
	background-color: #FF5959;
	border-radius: 5px;
	font-size: 25px;
}

.donate_sec {
	height: 900px;
	margin-top: 200px;
	text-align: center;
}

.donate_sec_header h2 {
	font-size: 60px;
}

.donate_sec_header p {
	font-size: 25px;
	max-width: 880px;
	margin-left: 29%;
	margin-top: 20px;
	margin-bottom: 40px;
}

.donate_sec_amount {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}

.donate_sec_amount h3 {
	color: #707070;
	font-size: 40px;
	background-color: #FAFAFA;
	padding: 30px 30px;
	width: 135px;
	height: 123px;
	margin-right: 30px;
	line-height: 110px;
	border-radius: 5px;
}

#selected_amount {
	color: #FF5959;
	border: 3px solid #FF5959;
	padding: 30px 30px;
	width: 135px;
	height: 123px;
	background-color: #FFEEEE;
}

.input_amount {
	margin-bottom: 50px;
}

.input_amount input {
	width: 60%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	border-bottom: 2px solid #DADADA;
	font-size: 25px;
	color: #FF5959;
	text-align: center;
}

.input_amount input:focus {
	outline: none;
}

.donate_button a {
	text-decoration: none;
	color: white;
	padding: 15px 30px;
	background-color: #FF5959;
	border-radius: 5px;
	font-size: 25px;
}

.donate_button {
	margin-bottom: 200px;
}